---
import Layout from "../layouts/Layout.astro";
import ModuleSelector from "../components/ModuleSelector.svelte";

const ds = Astro.locals.datastore;
const school = await ds.school();
const semesters = await ds.semesters();
const modules = await ds.modules();
---

<Layout>
  <img src={school.bannerImageURL} alt="Banner" class="w-full h-50 mt-15 object-cover" draggable="false" />
  <h1 class="text-3xl font-semibold mx-35 mt-10">{school.name}</h1>

  {/* TODO */}
  <a href="#" class="mx-35 font-medium text-xs text-stone-500 hover:text-stone-400">x days until semester break</a>

  <div class="mt-10 ml-5 pb-40">
    <ModuleSelector semesters={semesters} {modules} client:load />
  </div>
</Layout>
