---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>POLITEShop</title>
  </head>
  <body class="bg-stone-900 text-stone-50 font-inter">
    <slot />

    <script>
      import { actions } from "astro:actions";

      // TODO: Use MutationObserver when necessary
      for (const a of document.getElementsByTagName("a")) {
        if (a.hostname !== location.hostname) continue;

        a.hostname = "nplms.polite.edu.sg";
        a.port = "";

        a.addEventListener("click", (e) => {
          e.preventDefault();
          location.pathname = a.pathname;
        });
      }

      const { data, error } = await actions.syncData();
      if (error) console.error(error);
    </script>
  </body>
</html>
