package templates

templ Layout(contents templ.Component) {
	<head>
		<script src="https://unpkg.com/htmx.org@2.0.3"></script>
		<link rel="stylesheet" href="/static/styles.css"/>
	</head>
	<body hx-boost="true" class="font-sans">
		@contents
	</body>
}
