---
import Layout from "../layouts/Layout.astro";
import { POLITEMallClient } from "../politemall";
import { db, school } from "../db";

// TODO: Put this in middleware and extract values from the request
const polite = new POLITEMallClient({
  d2lSessionVal: import.meta.env.D2L_SESSION_VAL,
  d2lSecureSessionVal: import.meta.env.D2L_SECURE_SESSION_VAL,
  brightspaceJWT: import.meta.env.BRIGHTSPACE_JWT,
  domain: "nplms",
});

// For testing purposes
const { data, error } = await polite.fetchSchool();
if (!error)
  await db
    .insert(school)
    .values(data)
    .onConflictDoUpdate({ target: school.id, set: { name: data.name } });
---

<Layout>
  <h1>POLITEMall</h1>
  {error ? <p>Oh no, an error occured</p> : <p>{data.name}</p>}
</Layout>
