---
import Layout from "../layouts/Layout.astro";

console.log("rendering!");
const politeDataStore = Astro.locals.politeDataStore;

// TODO(?): This could be one query
const { name } = await politeDataStore.user();
const { name: schoolName } = await politeDataStore.school();

const semesters = await politeDataStore.semesters();
const modules = await politeDataStore.modules();
---

<Layout>
  <h1>POLITEMall</h1>
  <p>Hello {name} from {schoolName}!</p>

  {
    semesters ? (
      <p>Your semesters: {semesters.map((sem) => sem.name).join(", ")}</p>
    ) : (
      <p>Oops, something went wrong...</p>
    )
  }

  {modules ? <p>Your modules: {modules.map((mod) => mod.name).join(", ")}</p> : <p>Oops, something went wrong...</p>}
</Layout>
