---
import Layout from "../layouts/Layout.astro";
import { db, school, user } from "../db";
import { eq } from "drizzle-orm";

const polite = Astro.locals.polite;

const { name, schoolName } = (
  await db
    .select({ name: user.name, schoolName: school.name })
    .from(user)
    .innerJoin(school, eq(user.schoolId, school.id))
    .where(eq(user.id, polite.userId))
    .limit(1)
)[0];
---

<Layout>
  <h1>POLITEMall</h1>
  Hello {name} from {schoolName}!
</Layout>
