---
import Layout from "../layouts/Layout.astro";
import { db, school } from "../db";

const polite = Astro.locals.polite;

// For testing purposes
const { data, error } = await polite.fetchSchool();
if (!error)
  await db
    .insert(school)
    .values(data)
    .onConflictDoUpdate({ target: school.id, set: { name: data.name } });
else {
  console.error(error.msg);
  console.error(error.data);
}
---

<Layout>
  <h1>POLITEMall</h1>
  {error ? <p>Oh no, an error occured</p> : <p>{data.name}</p>}
</Layout>
