---
const url = new URL(Astro.request.url);
const target = decodeURIComponent(url.searchParams.get("target") ?? "") ?? "/d2l/home";
const sessionExpired = url.searchParams.get("sessionExpired") ?? "1";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>POLITEShop</title>
  </head>
  <body data-target={target} data-session-expired={sessionExpired}>
    login!
    <script>
      import type { WindowMessage } from "../../../../shared";

      const { target, sessionExpired } = document.querySelector<HTMLElement>("[data-target]")!.dataset;
      window.top?.postMessage({ type: "REDIRECT_LOGIN", payload: { target, sessionExpired } } as WindowMessage, "*");
    </script>
  </body>
</html>
