name: Publish lib to NPM

on:
  push:
    tags:
      - "lib@*"

jobs:
  publish:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: lib

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: pnpm
          cache-dependency-path: lib/pnpm-lock.yaml
          registry-url: https://registry.npmjs.org

      - run: pnpm install --frozen-lockfile

      - run: pnpm publish
